appdirs==1.4.0
beautifulsoup4==4.5.1
cffi==1.7.0
click==6.6
easy-thumbnails==2.3
enum34==1.1.6
eventlet==0.17.4
Flask==0.11.1
Flask-SocketIO==2.9.2
Flask-WTF==0.9.5
Flat==0.1
greenlet==0.4.2
gunicorn==19.6.0
html5lib==0.999999999
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
oauthlib==1.1.2
olefile==0.44
packaging==16.8
python-socketio==1.8.1
pytz==2016.7
requests==2.10.0
requests-oauthlib==0.6.2
six==1.10.0
sorl-thumbnail==12.3
virtualenv==15.1.0
webencodings==0.5
Werkzeug==0.11.10
WTForms==1.0.5
